<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Список продуктов</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css"
              href="/styles/main.css" data-th-href="@{/styles/main.css}" />
    </head>
    <body>
        <h1 type="button" onclick="location.href='main'">Список продуктов</h1>
        <div class="toMainAndBackSection">
            <form>
                <input class="buttonGeneral" type="button" value="Назад" onclick="history.back()">
                <input class="buttonGeneral" type="button" value="На главную" onclick="location.href='main'">
            </form>
        </div>
        <div class="searchFoodItemSection">
            <form name="searchFoodItemForm" method="post" th:action="@{/searchFoodItemByName}" >
                <input name="foodItemName" type="text" list="foodItemDatalist" placeholder="Начните вводить название продукта..." size="40">
                <datalist id="foodItemDatalist">
                    <option th:each=" foodItem : ${foodItems}" th:value="${foodItem.foodItemName}" th:text="${foodItem.foodItemName}"></option>
                </datalist>
                <button type="submit">Искать продукт</button>
            </form>
        </div>
        <div class="foodItemsSection">
            <div class="foodItemsListSection">
                <table>
                    <caption>Список продуктов</caption>
                    <thead>
                    <tr class="header">
                        <th>Наименование</th>
                        <th>Ккал на 100 г</th>
                        <th>Белки, г на 100 г</th>
                        <th>Жиры, г на 100 г</th>
                        <th>Углеводы, г на 100 г</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${foodItems.empty}">
                        <td colspan="5">Нет продуктов</td>
                    </tr>
                    <tr th:each="foodItem : ${foodItems}">
                        <td>
                        <a th:href="@{/viewFoodItem(enteredFoodItemId=${foodItem.foodItemId})}" href="/viewFoodItem.html">
                            <span th:text="${foodItem.foodItemName}">Название продукта</span>
                        </a>
                        </td>
                        <td><span th:text="${foodItem.calories}">Количество ккал на 100 г</span></td>
                        <td><span th:text="${foodItem.protein}">Количество белка на 100 г</span></td>
                        <td><span th:text="${foodItem.fat}">Количество жиров на 100 г</span></td>
                        <td><span th:text="${foodItem.carbohydrates}">Количество углеводов на 100 г</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="addFoodItemForm">
                <span>Добавить продукт</span>
                <form method="post" th:action="@{/addFoodItem}">
                    <input type="text" name="foodItemName" placeholder="введите название продукта" size="35">
                    <input type="text" name="calories" placeholder="введите количество ккал" size="35">
                    <input type="text" name="protein" placeholder="введите количество белков, г" size="35">
                    <input type="text" name="fat" placeholder="введите количество жиров, г" size="35">
                    <input type="text" name="carbohydrates" placeholder="введите количество углеводов, г" size="35">
                    <button type="submit">Добавить</button>
                </form>
            </div>
        </div>
    </body>
</html>