<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Список продуктов</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css"
              href="/styles/main.css" data-th-href="@{/styles/main.css}" />
    </head>
    <body>
        <h1>Все рецепты</h1>
        <div class="recipesSection">
            <div class="searchRecipeSection">
                <form name="searchRecipeForm" method="post" th:action="@{/searchRecipeByName}" >
                    <input name="recipeName" type="text" list="recipeDatalist" placeholder="Начните вводить название рецепта...">
                    <datalist id="recipeDatalist">
                        <option th:each=" recipe : ${recipes}" th:value="${recipe.recipeName}" th:text="${recipe.recipeName}"></option>
                    </datalist>
                    <button class="buttonSearch" type="submit">Искать рецепт</button>
                </form>
            </div>
            <div class="RecipesListSection">
                <table class="myRecipesTable">
                    <thead>
                    <tr class="header">
                        <th>Название</th>
                        <th>Ккал на 100 г</th>
                        <th>Белки, г на 100 г</th>
                        <th>Жиры, г на 100 г</th>
                        <th>Углеводы, г на 100 г</th>
                        <th>Описание</th>
                        <th>Добавить в свой список</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${recipes.empty}">
                        <td colspan="6">Нет рецептов</td>
                    </tr>
                    <tr th:each="recipe : ${recipes}">
                        <td><a th:href="@{/viewRecipe(enteredRecipeId=${recipe.recipeId})}" href="/viewRecipe.html">
                            <span th:text="${recipe.recipeName}">Название продукта</span>
                        </a>
                        </td>
                        <td><span th:text="${recipe.sumCalories}">Количество ккал на 100 г</span></td>
                        <td><span th:text="${recipe.sumProtein}">Количество белка на 100 г</span></td>
                        <td><span th:text="${recipe.sumFat}">Количество жиров на 100 г</span></td>
                        <td><span th:text="${recipe.sumCarbohydrates}">Количество углеводов на 100 г</span></td>
                        <td><span th:text="${recipe.description}">Описание</span></td>
                        <td>
                            <form method="post" th:action="@{/addRecipeToList}" name="addRecipeToList">
                                <input name="addingRecipeId" th:value="${recipe.recipeId}" class="hidden">
<!--                                если будет несколько списков-->
<!--                                <select name="recipeListName">-->
<!--                                    <option th:each="recipeList : ${recipeLists}" th:value="${recipeList.recipeListName}"></option>-->
<!--                                </select>-->
                                <button type="submit">Добавить в список</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </body>
</html>