<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список продуктов</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'" />

<div>
    <form method="post">
        <input type="text" name="recipeName" placeholder="введите название рецепта">
        <input type="text" name="description" placeholder="введите описание">
        <button type="submit">Добавить</button>

        <thead>
        <tr>
            <th>Выбрать</th>
            <th>NAME</th>
            <th>CALORIES</th>
            <th>PROTEIN</th>
            <th>FAT</th>
            <th>CARBOHYDRATES</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${foodItems.empty}">
            <td colspan="5">No products available</td>
        </tr>
        <tr th:each="foodItem : ${foodItems}">
            <td><checkbox name="foodItems" th:value="${foodItem.foodItemId}"></checkbox></td>
            <td><span th:text="${foodItem.foodItemName}">Название продукта</span</td>
            <td><span th:text="${foodItem.calories}">Количество ккал на 100 г</span></td>
            <td><span th:text="${foodItem.protein}">Количество белка на 100 г</span></td>
            <td><span th:text="${foodItem.fat}">Количество жиров на 100 г</span></td>
            <td><span th:text="${foodItem.carbohydrates}">Количество углеводов на 100 г</span></td>
        </tr>
        </tbody>
    </form>
</div>
<ul>
    <li></li>
</ul>
</body>
</html>