<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head>
        <title>Просмотр рецепта</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <link rel="stylesheet" type="text/css"
          href="/styles/main.css" data-th-href="@{/styles/main.css}" />
</head>
<body>
    <h1 class="header1" type="button" onclick="location.href='main'">Просмотр рецепта "<span th:text="${foundRecipe.recipeName}"></span>"</h1>
    <div class="toMainAndBackSection">
        <form>
            <input class="buttonGeneral" type="button" value="Назад" onclick="history.back()">
            <input class="buttonGeneral" type="button" value="На главную" onclick="location.href='main'">
        </form>
    </div>
    <div class="viewRecipeSection">
        <table>
        <caption><h2 th:text="${foundRecipe.recipeName}">Рецепт</h2></caption>
        <thead>
        <tr class="header">
            <th>Название</th>
            <th>Ккал на 100 г</th>
            <th>Белки, г на 100 г</th>
            <th>Жиры, г на 100 г</th>
            <th>Углеводы, г на 100 г</th>
            <th>Добавить в свой список</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span th:text="${foundRecipe.recipeName}">Название продукта</span></td>
            <td><span th:text="${foundRecipe.sumCalories}">Количество ккал на 100 г</span></td>
            <td><span th:text="${foundRecipe.sumProtein}">Количество белка на 100 г</span></td>
            <td><span th:text="${foundRecipe.sumFat}">Количество жиров на 100 г</span></td>
            <td><span th:text="${foundRecipe.sumCarbohydrates}">Количество углеводов на 100 г</span></td>
            <td>
                <form method="post" th:action="@{/addRecipeToList}" name="addRecipeToList">
                    <input name="addingRecipeId" th:value="${foundRecipe.recipeId}" class="hidden">
                    <button type="submit">Добавить в список</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
        <table>
            <caption><h2>Ингредиенты</h2></caption>
            <thead>
            <tr>
                <th>Название</th>
                <th>Количество, г</th>
                <th>Ккал на 100 г</th>
                <th>Белки, г на 100 г</th>
                <th>Жиры, г на 100 г</th>
                <th>Углеводы, г на 100 г</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="foodItemList : ${foundRecipe.getFoodItemsLists()}">
                <td><span th:text="${foodItemList.getFoodItem(foodItemRepository).foodItemName}">Название продукта</span></td>
                <td><span th:text="${foodItemList.getFoodItemQuantity()}">Количество, г</span></td>
                <td><span th:text="${foodItemList.getFoodItem(foodItemRepository).calories}">Количество ккал на 100 г</span></td>
                <td><span th:text="${foodItemList.getFoodItem(foodItemRepository).protein}">Количество белка на 100 г</span></td>
                <td><span th:text="${foodItemList.getFoodItem(foodItemRepository).fat}">Количество жиров на 100 г</span></td>
                <td><span th:text="${foodItemList.getFoodItem(foodItemRepository).carbohydrates}">Количество углеводов на 100 г</span></td>
            </tr>
            </tbody>
        </table>
        <div class="foundRecipeDescription">
            <h2>Описание рецепта</h2>
            <span th:text="${foundRecipe.description}">Описание</span>
        </div>

    </div>
</body>
</html>